<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-success" routerLink="/cart"><i class="fa fa-shopping-cart"></i>Cart
            <span class="badge ">{{purchageCount}}</span></a>
        </li>
      </ul>
    
      <!-- Navbar text-->
      
    
    </nav>